body{
    margin: 0px;
    padding: 0px;
}
h2{
    text-align: center;

}
th,td{
    text-align: center;
    padding:10px;
}
table{
    width:100%;
    border-collapse:collapse;
    margin:auto;
}
tr:nth-child(even){
    background-color:gray;
}
tr:nth-child(odd){
    background-color:lightcyan;
}
th{
    background-color: forestgreen;
    color:white;
}

.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}