body{
    background-color: antiquewhite;
}
.template{
    background-color: darkgreen;
    width: 900px;
    margin-left: 150px;
}
.template p{
    padding: 20px;
    text-align: justify;
    background-color:blue;
}
p.paragraph{
    color: darkgreen;
    font-size: 20px;
    background-color:black;

}
h1.heading{
    color: dimgrey;
}





li{
    background-color: lightblue;
    display:inline;
}
span{
    background-color: antiquewhite;
    display:block;
}
a{
    background-color:pink;
    display:block;
}
h1{
    background-color: green;
    visibility: hidden;

}


ul.a{
    list-style-type: circle;
}
ul.b{
    list-style-type: square;
}
ul.c{
    list-style-image: url("image/back-img-small.jpg");

}
ol.a{
    list-style-type: upper-roman;
    list-style-position: inside;
}
ol.b{
    list-style-type:lower-alpha;
}
